extends layout 

block content 
    main(class="section")
      div(class="instructions")
        h1 FoodSearch - easily search for recipes
        | Instructions:
        ol
            li Log in to your account or register by pressing the Sign in button.
            li Select any of your dietary restrictions under the Diet menu.
            li Search for the ingredient that is the most prominent in your desired dish.
            li Select your preferred cuisine from the Cuisine bar.
            li View the recipes by pressing the view results button.
            li Save your favourite recipes by pressing the Save recipe button when signed in.
            li To view your saved recipes, press the Profile button.
      div(class='instructions')
        h1 Our sources 
        | The websites we use to gather our recipes are: 
        ul 
          li 
            a(href="https://www.bonappetit.com/search") BonAppetit 
          li 
            a(href="o	https://realfood.tesco.com/") Tesco Real Food
          li 
            a(href="https://www.jamieoliver.com/") Jamie Oliver 
          li 
            a(href="https://www.bbc.co.uk/food") BBC Food 
          li 
            a(href="https://www.bbcgoodfood.com/") BBC Good Food