extends layout 

block content 
    main(class="section")
      div(class="instructions")
        h1 Loading ...
    form(action="/results" id='loadingForm' method="POST") 
        input(type="text", name="diet" class="food-hidden" value=diet_input)